/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* tablets */
@media screen and(min-width: 40em) and (min-width:63.9em) {}

/* web  */
@media screen and(min-width: 64em) {}

.products--grid img{
    border-radius: 10px;
}